{% extends "layout.html" %}
{% set active_page = "vulnerabilities" %}
{% block title %}Firmware Upgrader | Vulnerabilities {% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}

<div class="dflex">
    <div class="row">
        <div class="col">
            <h1 class="h4">Vulnerabilities</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Uses the <strong>Cisco OpenVuln API</strong> to query a specific IOS or IOS-XE version for vulnerabilities.<br>
            API credentials are stored in file 'openvuln_api_credentials.json' and can be generated <a href="https://apiconsole.cisco.com/" target="_blank>">here</a>.<br><br>
            Call from site '<a href="/inventory">inventory</a>' or by manually specifying an URL in this format:<br>
            <a href="/vulnerabilities/show?os=ios-xe&version=16.6.2">/vulnerabilities/show?os=ios-xe&version=16.6.2</a>
        </div>
    </div>
    </div>

</div>


{% endblock %}

