{% extends "layout.html" %}
{% set active_page = "vulnerabilities" %}
{% block title %}Firmware Upgrader | Vulnerabilities {% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}

<div class="dflex">
    <div class="row">
        <div class="col">
            <h1 class="h4">Vulnerabilities</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            open site <a href="vulnerabilities/show?os=ios&version=15.7(3)M2">vulnerabilities/show?os=ios&version=15.7(3)M2</a>
        </div>
    </div>
    </div>

</div>


{% endblock %}

