{% extends "layout.html" %}
{% set active_page = "index" %}
{% block title %}Firmware Upgrader{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}

<div class="dflex">
    <div class="row">
        <div class="col">
            <h1 class="h4">Start Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            This is a small software project created while learning some basic python and network orchestration concepts.<br>
            It is called 'firmware upgrader' even though it does not really do any firmware upgrades (yet).<br><br>
            It uses:
            <ul>
                <li>Flask with Bootstrap CSS and flask-wtf for forms</li>
                <li>Nornir (and Napalm) for fetching firmware versions from multiple switches</li>
                <li>Cisco's OpenVuln API for querying firmware vulnerabilities</li>
                <li>Netbox IPAM (running as docker containers)</li>
                <li>Logging</li>
                <li>Regex</li>
                <li>Python Threads and Queues (for working off long running jobs in the background)</li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}