{% extends "layout.html" %}
{% set active_page = "inventory" %}
{% block title %}Firmware Upgrader | Inventory{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}

<div class="dflex">
    <div class="row">
        <div class="col">
            <h1 class="h4">Inventory</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Zeile 1
        </div>
    </div>
    <div class="row">
        <div class="col">
            Zeile 2
        </div>
    </div>
</div>

{% endblock %}