{% extends "layout.html" %}
{% set active_page = "sites" %}
{% block title %}Firmware Upgrader | Sites{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}

<div class="dflex">
    <div class="row">
        <div class="col">
            <h1 class="h4">Sites</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered">
                <thead class="thead-dark">
                <th scope="col">Site</th>
                <th scope="col">Upgrade</th>
                </thead>

                <tbody>
                {% for s in sites %}
                <tr>
                    <th scope="row">{{ s }}</th>
                    <td><a href="">upgrade firmware in this site</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}