{% extends "layout.html" %}
{% set active_page = "firmware" %}
{% block title %}Firmware Upgrader | Firmware{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}

<div class="dflex">
    <div class="row">
        <div class="col">
            <h1 class="h4">Firmware</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Uses nornir's parralel computing feature to get firmware of all devices belonging to site 'cisco' (see
                devices.yaml)
            </p>
            <p><strong><a href="/firmware/show">fetch firmware versions</a></strong>
            </p>
            <p>
                This will add the variable 'firmware' to the nornir object/inventory which can then be accessed via
                nr.inventory.hosts[hostname].firmware<br>
                Note: This will start a long running job, put this job into the job manager queue (running in its own
                thread).<br>
                Once the job complets, the user can click on "Inventory" in the menu and will see an updated inventory
                including firmware versions.
            </p>
        </div>
    </div>

</div>


{% endblock %}