{% extends "layout.html" %}
{% set active_page = "firmware" %}
{% block title %}Firmware Upgrader | Firmware{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}

<div class="dflex">
    <div class="row">
        <div class="col">
            <h1 class="h4">Firmware</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>nornir:</b> click <a href="firmware/show">here</a> to get firmware version for all devices in site 'cisco' (see devices.yaml)
        </div>
    </div>

</div>


{% endblock %}