{% extends "layout.html" %}
{% set active_page = "firmware" %}
{% block title %}Firmware Upgrader | Firmware{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}

<div class="dflex">
    <div class="row">
        <div class="col">
            <h1 class="h4">Firmware</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered">
                <thead class="thead-dark">
                <th scope="col">Host Name</th>
                <th scope="col">Firmware</th>
                </thead>

                <tbody>
                {% for hostname, firmware in devices.items() %}
                <tr>
                    <th scope="row">{{ hostname }}</th>
                    <td><a href="vulnerabilities/show?version={{ firmware }}">{{ firmware }}</a></td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

</div>


{% endblock %}